{% extends 'base.html' %}


{% block content %}



<!-- aboutme -->
  <div class=" w3-padding-large w3-padding-32 w3-margin-top" id="About">
    <h2 class="w3-center w3-xxxlarge" >About me </h2>
    <p class="w3-hide-medium w3-hide-small w3-xlarge w3-panel w3-padding-16">Tashi Delek, bonjour!! My name is Tashi and I grew up in Tibet and India. I am an amatuer photographer who absolutely loves capture every moments in my life. I appreciate the people I meet and, the places I go and most importantly the moments I captured in every shoot.
    I prefer to let the photos do the talking so if you wish to know more just ask via <a href="mailto:ttsering10@outlook.com">ttsering10@outlook.com </a>, I'd love to hear from you.
    </p>
  </div>
{% endblock %}
