{% extends 'base.html' %}


{% block content %}
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="{{url_for('static',filename='img/cam1.jpg')}}" alt="Me" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Tashi Tsering</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">Tashi Tsering</h5>
    <h3 class="w3-hide-medium w3-hide-small">Welcome to my photography site</h3>
  </div>

</header>

{% endblock %}
